*{
    background: #1f1f1f;
    font-family: Arial, sans-serif;
    color: #a2bed4;
    font-size: 14px;
    white-space: nowrap;
}

.main{
    display: flex;
    flex-direction: column;
}

.header{
    background: rgba(80, 85, 90, 0.58);
    border-radius: 40px;
    font-family: Impact, sans-serif;
    font-size: 28px;
    color: white;
    -webkit-text-stroke: 1px #5c5e5d;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.plot{
    background: rgba(80, 85, 90, 0.58);
    border-radius: 40px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 2 500px;
}

#canvas{
    background: rgba(80, 85, 90, 0);
}

.log{
    align-items: flex-start;
    background: rgba(80, 85, 90, 0.58);
    border-radius: 40px;
    padding: 10px;
    flex: 1;
}

table, td, th {
    border: 2px solid #434645;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    font-size: 16px;
}

.tableContainer{
    overflow: auto;
    height: 300px;
    width: fit-content;
    margin: auto;   
}

.right {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 2 500px;
    min-width: fit-content;
}



.right * {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.formContainer{
    padding: 10px;
    background: rgba(80, 85, 90, 0.58);
    border-radius: 40px;
    margin-bottom: 10px;
    flex: 1;
    min-width: fit-content;
}

.form{
    background: rgba(80, 85, 90, 0);
    display: flex;
    justify-content: center;
    margin: auto;
}

.form *, .log *{
    background: rgba(80, 85, 90, 0);
}

fieldset > div {
    margin: 12px;
    display: flex;
    flex-basis: 450px;
}

input#xVal {
    border-radius: 20px;
    border-width: 1px;
    padding: 4px;
}

legend::first-letter{
    font-size: 24px ;
}

.send{
    display: flex;
}

.sendButton{
    margin: auto;
    background-color: #56e456;
    border-radius: 10px;
    border: 2px;
    padding: 10px 20px;
    text-align: center;
    color: #434242;
    box-shadow:
            inset 2px 2px 3px rgb(255 255 255 / 0.6),
            inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.sendButton:hover{
    background-color: #3fd662;
}

.sendButton:active{
    box-shadow:
            inset -2px -2px 3px rgb(255 255 255 / 0.6),
            inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

