*{
    background: #1f1f1f;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #a2bed4;
}
.header{
    background: rgba(80, 85, 90, 0.58);
    border-radius: 40px;
    font-family: Impact, sans-serif;
    font-size: 28px;
    color: white;
    -webkit-text-stroke: 1px #5c5e5d;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
}

.plot{
    border-radius: 40px;
    background: rgba(80, 85, 90, 0.58);
    margin: 10px;
    text-align: center;
    flex: 1;
    height: 500px;
}

#canvas{
    display: inline;
    background: rgba(80, 85, 90, 0);

}

.log{
    background: rgba(80, 85, 90, 0.58);
    margin: 10px;
    border-radius: 40px;
    display: flex;
    flex: 1;
    height: 500px;
}

table, td, th {
    border: 2px solid #434645;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    font-size: 16px;
}

.form{
    background: rgba(80, 85, 90, 0.58);
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    display: flex;
}

.plotForm{
    margin: auto;

}

.plotForm div{
    margin: 12px;
}

.form * {
    background: rgba(80, 85, 90, 0);
}

form[method=post]{
    flex-direction: column;
    font-family: Arial, monospace;
    font-size: 16px;
    }

input#xVal {
    border-radius: 20px;
    border-width: 1px;
    padding: 4px;
}

legend::first-letter{
    font-size: 25px ;
}

.send-button{
    background-color: #56e456;
    border-radius: 10px;
    border: 2px;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    color: #434242;
    box-shadow:
            inset 2px 2px 3px rgb(255 255 255 / 0.6),
            inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.send-button:hover{
    background-color: #3fd662;
}

.send-button:active{
    box-shadow:
            inset -2px -2px 3px rgb(255 255 255 / 0.6),
            inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

